@page
@model HomeTask4.Web.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Category creation page";
}
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="Created.ParentId" hidden />
            <input class="form-control" asp-for="Created.Name" type="text" placeholder="Category Name" />
            <button asp-page-handler="Create" type="submit" class="btn btn-light">Create</button>
        </div>
    </form>
</div>