@page
@model HomeTask4.Web.Pages.Recipes.CreateModel
@{
    ViewData["Title"] = "Recipe creation page";
}
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="Created.CategoryId" hidden />
            <div>
                <label asp-for="Created.Name"></label><br />
                <input class="form-control" asp-for="Created.Name" type="text" placeholder="Recipe Name" />
                <span asp-validation-for="Created.Name"></span>
            </div>
            <div>
                <label asp-for="Created.Description"></label><br />
                <input class="form-control" asp-for="Created.Description" type="text" placeholder="Description" />
            </div>
            <button asp-page-handler="Create" type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
@section scripts{
    @{await Html.PartialAsync("_ValidationScriptsPartial"); }
}