@page "{Id:int?}"
@model HomeTask4.Web.Pages.Measures.EditModel
@{
    ViewData["Title"] = "Measure edit page";
}
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="toEdit.Id" hidden />
            <div>
                <label asp-for="toEdit.Name"></label><br />
                <input class="form-control" asp-for="toEdit.Name" type="text" placeholder="Measure Name" />
                <span asp-validation-for="toEdit.Name"></span>
            </div>
            <button asp-page-handler="Edit" type="submit" class="form-control btn btn-light">Update</button>
        </div>
    </form>
</div>
@section scripts{
    @{await Html.PartialAsync("_ValidationScriptsPartial"); }
}